        body{
            margin : 0;
            padding :0;
            background: white;
            font-family : 'Bahnschrift';
            overflow-x: hidden;
        }
        nav a img.logo{
            position: fixed;
            top: 20px;
            left : 40px;
            box-sizing : border-box;
        }

        nav div.shoppingmall{
            display : block;
            color : grey;
            text-decoration: none;
            font-size : 17px;
            font-weight: bold;
            position : absolute;
            top : 40px;
            left : 240px;
        }

        nav{
            width : 100%;
            height: 70px;
            position: fixed;
            top: 0px;
            background : white;
            border-bottom: 1px solid pink;
            z-index : 8;
        }
        nav ul{
            display : flex;
            margin :0;
            padding : 40px 100px;
            float :right;
        }
        nav ul li{
            list-style : none;
        }
        nav ul li a{
            display : block;
            color :grey;
            padding : 0 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-size : 12px;
        }
        img.banner_border{
            position : absolute;
            top : 70px;
        }
