<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>BATHDAL</title>
    <link rel="stylesheet" href="header.css">
    <style>
    h1{
    text-align:center;
    }

    h3{
    text-align:center;
    color:gray;
    }

    .next{
    text-align:center;
    margin:10px;
    }

    .next a{
    border:5px solid pink;
    display:inline;
    }
    </style>
</head>
<body>
<nav>
    <a href = "../home.html"><img src="../image/BATHDAL_LOGO_2.png" class="logo"></img></a>
    <div class = "shoppingmall">SHOPPING MALL</div>
    <ul>
        <li><a href="../myPage/myPage.html">MY PAGE</a></li>
        <li><a href="../login.html">LOGIN</a></li>
    </ul>
    <img src="../image/Fade_Border.png" class = "banner_border"></img>
</nav>

<br><br><br><br><br><br><br>
<h1>Payment is completed.</h1>
<br><br><br>
<h3>Thank you for using BATHDAL.</h3>
<br><br><br><br>
<div class="next"><a href="../home.html">HOME</a> <a href="">ORDER HISTORY</a></div>
</body>
</html>