<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL</title>
    <link rel="stylesheet" href="myPageStyle.css">
</head>
<body>
    <nav>
        <a href = "..\home.html"><img src="..\image\BATHDAL_LOGO_2.png" class="logo"></img></a>
        <div class = "shoppingmall">SHOPPING MALL</div>
        <ul>
            <li><a href="..\myPage\myPage.html">MY PAGE</a></li>
            <li><a href="login.html">LOGIN</a></li>
        </ul>
        <img src = "..\image\Fade_Border.png" class = "banner_border">
    </nav>
    <h1>My Page</h1>
    <div class="info">
        <div class="customerInfo">
            <h2>Customer Information</h2>
            <div id="customerName">Name</div>
            <div id="customerEmail">E-mail</div>
            <div id="customerTel">Phone</div>
            <div id="editInfo"><a href="userModifi.html">Edit Your Info></a></div>
        </div>

        <div class="orderInfo">
            <a href="orderList.html" id="orderList">Order List</a>
            <a href="subscribeList.html" id="subscribeList">Subscription</a>
            <a href="myReview.html" id="myReview">Review</a>
            <a href="cart.html" id="cart">Cart</a>
        </div>
        <div id="subscription">
            Subscripted.
        </div>
    </div>


</body>
</html>