<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="header.css">
</head>
<body>

<div align="center" style="color:hotpink; font-family:Georgia;" >
    <h1>REVIEW WRITING</h1>
</div>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 60%;
        margin: auto;
    }
    td{
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
        width: 70%
    }
    th{width: 30%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
    }
    .submit {background-color: white; border:1px solid #dddddd;font-size:15px;}
</style>

<table>
    <tr>
        <th>Title </th>
        <td><input type="text"></td>
    </tr>
    <tr>
        <th>Name </th>
        <td><input type="text"></td>
    </tr>
    <tr>
        <th>Item </th>
        <td><input type="radio" value="BathBomb">Bath Bomb <input type="radio" value="NaturalSoup">Natural Soup</td>
    </tr>
    <tr>
        <th>Image </th>
        <td><input type="file"  accept="image/*"></td>
    </tr>
    <tr>
        <th>Contents </th>
        <td><textarea cols=85 rows=15></textarea></td>
    </tr>
</table>
<div align="center"><br><input type = "submit" value="SUBMIT" class="submit"></div>
</body>
</html>