<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
</head>
<body>
    <th:block th:if="${resultCode == 1}">
        <script>
            alert("Create a Account Successful");    //가입 성공
            location.replace("/login");
        </script>
    </th:block>

    <th:block th:if="${resultCode == 0}">
        <script>
            alert("Fail, If you keep failing, please contact me");   //가입 실패
            history.back();
        </script>
    </th:block>
</body>
</html>